
.Register{
    background-color: gray;
    min-height: 100%;
    border-radius: 5px;
    padding: 20px;
}
       

    .Register label{
        width: 100%;
        margin: auto;
        /* border: 1px solid; */
        /* border-radius: 20px; */
        /* background-color: rgb(229, 229, 229); */
        text-align: center;
        margin-bottom: 20px;
    
    }
    
    .Register input{
        border: 3px solid;
        border-radius: 20px;
        background-color: rgb(172, 172, 172);
        text-align: center;
        color:rgb(0, 0, 0);
    
    }
    
    
    .Register button {
        background-color: rgb(39, 38, 38);
        color:rgb(47, 166, 29);
        width: 40%;
        border-radius: 20px;
    }
    
    .Register button:hover {
        background-color: rgb(12, 217, 40);
        color:whitesmoke;
    }
    
    
    .Register input{
        width: 65%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }
    
    
    .Register form {
      width: 40%;
        height: 100%;
        min-height: 400px;
        /* text-align: left; */
        margin: auto;
        border: 1px solid;
        padding: 20px;
        border-radius: 20px;
        background-color: rgb(204, 204, 204);
    }
    
 
